{% comment %}
	using a list named 'result' fixed by Version objects to fix this table.
{% endcomment %}

<table class="table table-striped table-condensed">
    <thead>
        <th>版本名称</th>
        <th>依赖版本</th>
        <th>版本描述</th>
        <th>创建日期</th>
        <th>介质获取</th>
    </thead>
    <tbody>
        {% for ver in versions %}
        <tr>
            <td class="span2">
                <a class="btn" href="{{ver.get_absolute_url}}">{{ ver|escape }}</a>
            </td>
            <td class="span2">{{ ver.depend|default:""|escape }}</td>
            <td>{{ ver.desc|escape|linebreaks }}</td>
            <td class="span2">{{ ver.created|default:""|date:"F j, Y"}}</td>
            <td class="span2">
            	<a class="btn" href="/product/version/{{ver.id}}/download">
            		<i class="icon-download"></i>
                	下载
                </a>
			</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
