
{%extends 'known/space.html'%}

{% block spacebody %}

<form class="form-horizontal" id="createArticleForm" action="/known/article/create/" method="post">
    {% csrf_token %}
    <div class="control-group">
        <label class="control-label"><strong>标题</strong></label>
        <div class="controls">
            {{ articleCreateForm.title }}
            {{ articleCreateForm.folder }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><strong>内容</strong></label>
        <div class="controls">
            {{ articleCreateForm.content }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><strong>状态</strong></label>
        <div class="controls">
            {% for radio in articleCreateForm.status %}
                {{ radio }}
            {% endfor %}
        </div>
    </div>
    <div class="control-group" style="padding-left: 300px;">
        <div class="controls">
            <input class="btn btn-info span3" type="submit" value="完成编辑" />
            <input class="btn btn span3" type="reset" value="取消编辑" />
        </div>
    </div>
</form>

{% endblock %}