
{%extends 'known/home.html'%}

{%block headline%}
    <a class="" style="color:#000;text-decoration: none;" href="/known/home/">知识库</a>
    <small>修改文章 Modify Article</small>
{%endblock%}

{% block mainbody %}

<div class="row-fluid">
    <div class="span12">

        <form class="form-horizontal" id="updateArticleForm" action="/known/article/{{ article.id }}/update/" method="post">
            {% csrf_token %}
            <div class="control-group">
                <label class="control-label"><strong>标题</strong></label>
                <div class="controls">
                    {{ articleUpdateForm.title }}
                    {{ articleUpdateForm.folder }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><strong>内容</strong></label>
                <div class="controls">
                    {{ articleUpdateForm.content }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><strong>状态</strong></label>
                <div class="controls">
                    {% for radio in articleUpdateForm.status %}
                        {{ radio }}
                    {% endfor %}
                </div>
            </div>
            <div class="control-group" style="padding-left: 300px;">
                <div class="controls">
                    <input class="btn btn-info span3" type="submit" value="完成修改" />
                    <a href="/known/space/" class="btn" style="padding:4px 50px;" > 取消修改 </a>
                </div>
            </div>
        </form>

    </div>
</div>

{% endblock %}